
@-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

.tree {
    background-image: url('../styles/img/tree.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
}

.center {
    margin: auto;
    width: 50%;
}

.styledBody {
    position: fixed;
    bottom:0;
    top:0;
    left:0;
    right:0;
    min-height: 100%;
    background: linear-gradient(-120deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400% !important;
    -webkit-animation: Gradient 15s ease infinite !important;
    -moz-animation: Gradient 15s ease infinite !important;
    animation: Gradient 15s ease infinite !important;
}

/*html {
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-120deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}*/

